{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block hactive %}active{% endblock hactive %}
{% block page_content %}
<style>
    .home{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 4rem;
        color: gray;
        font-weight: 700;
        /* margin: auto; */
        /* text-align: center; */
    }
</style>

<div class="home">
    <h1>Welcome to my portfolio website....</h1>
    <p>I'm Kamal</p>
</div>

{% endblock page_content %}